{% extends 'base.html.twig' %}

{% block body %}
    <h1>Books list</h1>

    <div class="container">
        <div class="row">
            <table class="table table-responsive d-flex justify-content-center my-5">
                <tr class="thead-inverse">
                    <th>Id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Releasedate</th>
                    <th>Summary</th>
                    <th>See more</th>
                    <th>Edit</th>
                </tr>
                {% for book in books %}
                    <tr>
                        <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{% if book.releaseDate %}{{ book.releaseDate|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ book.summary }}</td>
                        <td>
                            <a href="{{ path('book_show', { 'id': book.id }) }}"><i class="fa fa-info" aria-hidden="true"></i></a>
                        </td>
                        <td>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}"><i class="fa fa-wrench" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('book_new') }}">Create a new book</a>
        </li>
    </ul>
{% endblock %}
