{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Books</h1>

    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h2>{{ book.title }}</h2></li>
                        <li class="list-group-item">Author : {{ book.author }}</li>
                        <li class="list-group-item">Summary :<br> <p>{{ book.summary }}</p></li>
                        <li class="list-group-item">Release date : {% if book.releaseDate %}{{ book.releaseDate|date('d-m-Y') }}{% endif %}</li>
                        <li class="list-group-item">Avaible : {% if book.avaible %}Yes{% else %}No{% endif %}</li>
                        {% if book.avaible == false %}
                            <li class="list-group-item">
                                <strong>
                                    {% for data in userbook %}
                                        <p>Member code : {{ data.user.MemberCode }}</p>
                                        <p>Member name :{{ data.user.name}}</p>
                                    {% endfor %}
                                </strong>
                            </li>
                        {% endif %}
                        <li class="list-group-item"><SPAN class="mr-5">Edit book : </SPAN>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}"><i class="fa fa-wrench" aria-hidden="true"></i></a>
                        </li>
                        <li class="list-group-item">
                            <form action="{{ path('homepage') }}" method="post">
                                <input name="id" type="hidden" value="{{ book.id }}">
                                {% if book.avaible %}
                                    <select name="id_user">
                                        {% for users in user %}
                                            <option value="{{ users.id }}">{{ users.name }}</option>
                                        {% endfor %}
                                    </select>

                                    <input type="submit" name="avaiblereturn" value="borrow">
                                {% else %}
                                    <input type="submit" name="avaiblereturn" value="return">
                                {% endif %}
                            </form>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ path('homepage') }}">Back to the list</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>



{% endblock %}
